@mixin text-base($fontsize){
  color:white;
  font-weight: bold;
  font-size:$fontsize;
}

.text-command{
  @include text-base(20px);
  &:hover{
    color:black;
    background-color: white;
    &::before{
      content: '▶︎';
      color:white;
      position: absolute;
      left:1px;
    }
  }
}

.text-wallet{
  @include text-base(20px);
}