@charset "UTF-8";
.text-command {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.text-command:hover {
  color: black;
  background-color: white;
}

.text-command:hover::before {
  content: '▶︎';
  color: white;
  position: absolute;
  left: 1px;
}

.text-wallet {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.text-message {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
